
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/list.css">

  <title>Document</title>
</head>
<body class="grey-bg">

  <div class="white-bg">
    <% lists.forEach(list=>{ %>
        <div class="list-box">
          <h4><%= list.title %></h4>
          <p><%= list.content %></p>
        </div>
    <% }) %>
  </div> 

</body>
</html>