<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/index.css">
    <title>Document</title>
</head>
<body class="grey-bg">
    <%- include('nav.ejs') %>
    <div class="white-bg">
        <div class="list-box">
            <h4><%= userID %>님의 마이페이지</h4>
        </div> 
        <div class="list-box">
            <h4>내가 쓴 글 목록</h4>
        </div> 
    </div>
</body>
</html>